@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Monsterrat';
    src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Monsterrat-bold';
    src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
    }
    
@font-face {
        font-family: 'Monsterrat-extrabold';
    src: url('./fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf') format('truetype');
}